@import "../variables.scss";

.page__name {
  font-size: 6rem;
  margin-bottom: 1rem;
  text-align: center;
}

.page__job {
  font-size: 2.1rem;
  font-weight: lighter;
  color: $color-subtitle;
  text-align: center;
}

@import "../responsive.scss";
