@import "../variables.scss";

.layout__menu-toggle {
  display: none;
}

.layout__aside {
  grid-area: aside;

  border-radius: 4rem 0 0 4rem;
  overflow: auto;
  overflow-x: hidden;

  .aside__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-height: 100%;
    min-width: 30rem;

    background-color: $color-secondary;
    color: $color-principal;
  }

  .user-info__container-img {
    position: relative;
    display: inline-block;
    width: 15rem;
    margin-top: 7rem;
    z-index: 1;

    .user-info__img {
      width: 100%;
      background-color: $color-principal;
      border: 3px solid $color-principal;
      border-radius: 20rem;
      position: relative;
    }
  }

  .user-info__container-img::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 9%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(
      center center,
      #fff,
      #fff 1px,
      transparent 0px,
      transparent 100%
    );
    background-size: 0.5rem 0.6rem;
    opacity: 0.3;
    border-radius: 20rem;
  }

  .user-info__name {
    margin-top: 2.6rem;
    font-size: 3.2rem;
    font-weight: bold;
    color: $color-principal;
  }

  .user-info__job {
    font-size: 1.7rem;
    font-weight: 200;
    color: $color-principal;
    opacity: 0.82;
  }
}

/* Iconos de redes */
.user-info__links {
  margin-bottom: 3.6rem;

  .links__social {
    margin-top: 2rem;
    text-align: center;

    display: flex;
    flex-direction: row;

    .social__option {
      width: 3rem;
      height: 3rem;
      font-size: 1.8rem;
      line-height: 3.3rem;
      opacity: 0.9;
      border-radius: 3rem;
      transition: all 300ms ease-in-out;
    }

    .social__option:hover {
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

/* Boton de CV */
.user-info__buttons {
  margin-top: 2rem;
  margin-bottom: 15rem;

  .user-info__btn {
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: 2px solid $color-principal;
    border-radius: 3.2rem;
    color: $color-principal;
    box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
  }

  .user-info__btn:hover {
    background-color: $color-principal;
    color: $color-secondary;
  }
}

/* Menu de navegacion */
.layout__nav {
  display: block;
  position: absolute;
  top: 0;
  right: -105px;
  min-width: 11rem;
  background-color: $color-transparent;

  .menu__list {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 60%;
    min-height: 32rem;
    padding: 2rem 0;
    margin-left: 2.5rem;

    background-color: $color-principal;
    box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 6rem;

    .menu__option {
      display: block;
      width: 100%;
      text-align: center;

      .menu__icon {
        color: $color-icon;
        font-size: 2.8rem;
        transition: all 300ms ease-in-out;
      }

      .menu__overlay {
        position: absolute;
        right: 0;
        margin-top: -3.7rem;
        display: block;
        opacity: 0;
        padding: 0.5rem 1rem;
        color: $color-principal;
        background-color: $color-secondary;
        white-space: nowrap;
        transition: all 300ms ease-in-out;
      }
    }

    .menu__option:hover .menu__icon {
      color: $color-secondary;
    }

    .menu__option:hover .menu__overlay {
      opacity: 1;
      right: 100%;
      z-index: 1;
    }
  }
}

@import "../responsive.scss";
