@import "./variables.scss";

@media (max-width: 1490px) {
  body {
    padding: 0;
  }

  /* Estilos de todo */
  .layout {
    min-width: auto;
    width: 85%;
  }
}

@media (max-width: 1320px) {
  /* Estilos de todo */
  .layout {
    width: 89%;
    margin-left: 3rem;
  }
}

@media (max-width: 1160px) {
  /* Estilos de todo */
  .layout {
    width: 85%;
    margin-left: 4rem;
  }

  /* Estilos de sobre mi */
  .content__about {
    .about__personal-info {
      flex-direction: column;

      .personal-info__data {
        flex-basis: 100%;
        padding: 0;
        margin-top: 2rem;
      }
    }
  }

  /* Estilos de curriculum */
  .content__resume {
    .resume__container {
      flex-direction: column;

      .resume__rigth {
        flex-basis: 100%;
        padding: 0;
        margin-bottom: 3rem;
      }
    }

    .certificates__container {
      flex-direction: column;

      .certificates__certificate {
        .certificate__logo {
          height: auto;
        }
      }
    }
  }

  /* Estilos de contacto */
  .content__contact {
    .contact__container {
      flex-direction: column;
    }
  }
}

@media (max-width: 1060px) {
  body {
    background-image: none;
    position: static;
  }

  /* Estilos de todo */
  .layout {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    border-radius: 0;

    grid-template-areas: "content";
    grid-template-columns: 100%;
    overflow-x: hidden;

    /* Menu hamburguesa */
    .layout__menu-toggle {
      z-index: 9999;
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 4.6rem;
      height: 4.6rem;
      line-height: 5.2rem;
      font-size: 2.2rem;
      text-align: center;
      background-color: $color-secondary;
      color: $color-principal;
      border-radius: 3rem;
      cursor: pointer;
      transition: all 500ms ease-in-out;

      .menu-toggle__icon {
        color: $color-principal;
        display: block;
        position: absolute;
        top: 5%;
        left: 23.5%;
        transition: all 300ms ease-in-out;
      }
    }

    .layout__aside {
      z-index: 999;
      display: block;
      position: absolute;
      max-width: 330px;
      top: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      overflow: auto;

      border-radius: 0;
      transition: all 300ms ease-in-out;

      margin-right: -100%;
      opacity: 0;

      .user-info__container-img {
        width: 13rem;
        margin-top: 2rem;
        display: inline-block;
      }

      .user-info__name {
        font-size: 2.5rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }

      /* Estilos de nav */
      .layout__nav {
        position: static;
        margin: 3rem 0;

        .menu__list {
          position: static;
          width: 100%;
          background-color: $color-secondary;
          box-shadow: none;
          margin-left: 0;

          .menu__icon {
            display: none;
          }

          .menu__overlay {
            position: static;
            opacity: 0.7;
            margin-top: 0;
            padding: 0;
            box-shadow: none;
            font-size: 1.6rem;
          }
        }
      }

      .links__social {
        margin-top: 0;
      }

      .user-info__footer {
        position: static;
        padding-bottom: 2rem;
      }
    }

    .layout__aside--visible {
      width: 100%;
      margin-right: 0;
      opacity: 1;
    }

    .layout__aside--hidden {
      margin-right: -100%;
      opacity: 0;
    }

    /* Estilos del contenido */
    .layout__content {
      border-radius: 0;
      background-color: transparent;
      height: 100%;

      .content__page {
        border-radius: 0;
        height: 100vh;
      }
    }
  }
}

@media (max-width: 800px) {
  /* Estilos de portfolio */
  .content__portfolio {
    .portfolio__gallery {
      .gallery__item {
        flex-basis: 50%;
      }
    }
  }
}

@media (max-width: 660px) {
  /* Estilos de sobre mi */
  .content__about {
    .about__personal-info {
      flex-direction: column;

      .personal-info__data {
        flex-basis: 100%;
        padding: 0;
        margin-top: 2rem;
      }
    }

    .about__services {
      .services__container {
        flex-direction: column;
        flex-wrap: wrap;

        .services__service {
          flex-basis: 100%;
          margin-right: 0;
          margin-bottom: 3rem;
        }
      }
    }
  }

  /* Estilos de curriculum */
  .content__resume {
    .resume__container {
      flex-direction: column;

      .resume__rigth {
        flex-basis: 100%;
        padding: 0;
        margin-bottom: 3rem;
      }
    }

    .certificates__container {
      flex-direction: column;

      .certificates__certificate {
        .certificate__logo {
          height: auto;
        }
      }
    }
  }

  /* Estilos de contacto */
  .content__contact {
    .contact__container {
      flex-direction: column;
    }
  }
}

@media (max-width: 500px) {
  .page__name {
    font-size: 4.8rem;
    line-height: 5.6rem;
    text-align: center;
  }

  /* Estilos de curriculum */
  .content__resume {
    .certificates__container {
      flex-direction: column;

      .certificates__certificate {
        .certificate__logo {
          height: auto;
        }
      }
    }
  }

  /* Estilos de portfolio */
  .content__portfolio {
    .portfolio__gallery {
      .gallery__item {
        flex-basis: 100%;
      }
    }
  }

  /* Estilos de contacto */
  .content__contact {
    .contact__container {
      .contact__form-box {
        .form__container {
          display: flex;
          flex-direction: column;

          .form__left {
            flex-basis: 100%;
            margin-right: 0;
          }

          .form__right {
            flex-basis: 100%;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
}
