$color-principal: #ffffff;
$color-secondary: #04b4e0;

$color-background: #f2f7f9;
$color-transparent: transparent;

$color-icon: #b5b6b7;
$color-title: #222222;
$color-subtitle: #888;
$color-text: #555;

$color-border-reviews: #e5e6e7;
$color-background-certificate: #f5f5f5;

$color-scrollbar: #dedede;
$color-background-scrollbar: #eee;

$color-background-contact: #fcfcfc;
